<!DOCTYPE html>
<html>
<head>
    <title>Detect Stack | Voomly</title>
</head>
<body>
    <h1>Enter GitHub Repository URL</h1>
    <form action="/detect" method="POST">
        <input type="text" name="githubUrl" placeholder="https://github.com/user/repo" required />
        <button type="submit">Detect Stack</button>
    </form>
    <% if (typeof error !== 'undefined') { %>
        <p style="color:red"><%= error %></p>
    <% } %>
</body>
</html>
