<!DOCTYPE html>
<html>
<head>
    <title>Stack Detected | Voomly</title>
</head>
<body>
    <h1>Detected Stack for:</h1>
    <p><%= repo %></p>
    <h2>→ <%= stack %></h2>

    <a href="/">Check another repo</a>
</body>
</html>
